# Supabase Configuration
VITE_SUPABASE_URL=https://ptkletolrnqgbxouamwm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0a2xldG9scm5xZ2J4b3VhbXdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2Mjc5NzksImV4cCI6MjA3MTIwMzk3OX0.w5PEFKFxHsgSE6RG8JoBDGpoUzI17mw7rLbU42KRwf4